*{
   margin: 0;
   padding: 0;
   font-family: Century Gothic;
}
header{
	 background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(web_images.jpg);
	 height:  100vh;
	 background-size: cover;
	 background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	 display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.article-head{
	height: 300px;
	font-size: 20px;
	text-align: center;
	color: white;
	background-color: black;
}
.article-icon{
	width: 150px;
	height: 190px;
	margin: 20px;
}
.collection-image{
	width: 150px;
	margin: 10px;
}

.img-with-text{
	padding-left: 40px;
	margin: 20px;
	width: 180px;
}
.left-bar{
	text-decoration: none;
	font-family: sans-serif;
	text-align: center;
	padding-top: 20px;
	width: 25%;
	font-size: larger;
}
.logo img{
	float: left;
	width: 95px ;
	padding: 8px 7px;
	height: auto;
}
.main{
	 max-width: 1200px;
	 margin: auto;
}
.right-preview{
	
	padding: 20px;
	width: 75%;
}
.title{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color:floralwhite;
	font-size: 50px;
}
.title h4{
	color:floralwhite;
	font-size: 20px;
}

.total-preview{
	display: flex;
}
.button{
	position: absolute;
	top: 70%;
	left: 70%;
	transform: translate(-50%,-50%);
	background-color: white;
	color: #000;
}
.grid-container
		{
	   display: grid;
           grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
           padding: 5px;
           grid-row-gap:20px;
           column-gap: 30px;
           text-align: center;
       }



.grid-container div{
    width: 250px;
	/* border: 3px solid grey; */
	background-color: rgb(209, 207, 207);
	padding: 20px;
	margin: 3px;
	border-radius: 20px;
}

.grid-container a{
	text-decoration: none;
}

.grid-container h5
{
	font-size:15px;
}


s2
{
	background-color:  #eee6ff;
}

s2 p
{
	color:black;
}
